
@{
    ViewBag.Title = "Chi Tiết";
}

<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>C</span>hi
            <span>T</span>iết
            <span>S</span>ản
            <span>P</span>hẩm
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            <img src="@ViewBag.SanPham.Anhbia"
                           

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <h3 class="mb-3">@ViewBag.SanPham.TenSanPham</h3>
                <p class="mb-3">
                    <span class="item_price">@String.Format("{0:#,,.##}M", ViewBag.SanPham.GiaKhuyenmai) VND</span>
                    <del class="mx-2 font-weight-light">@String.Format("{0:#,,.##}M", ViewBag.SanPham.Giaban) VND</del>
                    <label>Giao hàng miễn phí</label>
                </p>
                <div class="single-infoagile">
                    <ul>
                        <li class="mb-3">
                            Tiền mặt khi giao hàng đủ điều kiện.
                        </li>
                        <li class="mb-3">
                            Tốc độ vận chuyển đến giao hàng.
                        </li>
                        <li class="mb-3">
                            EMI từ $ 655 / tháng.
                        </li>
                        <li class="mb-3">
                            Ưu đãi Ngân hàng Giảm giá đặc biệt 5% * với Thẻ tín dụng Axis Bank BuzzT & C
                        </li>
                    </ul>
                </div>
                <div class="product-single-w3l">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        <label>1 năm</label> bảo hành nhà sản xuất
                    </p>
                    <ul>
                        <li>
                            @ViewBag.SanPham.Mota
                        </li>

                    </ul>
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Ngân hàng trực tuyến & Thẻ tín dụng / Ghi nợ / ATM
                    </p>
                </div>
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime" />
                                <input type="hidden" name="amount" value="200.00" />
                                <input type="hidden" name="discount_amount" value="1.00" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Add to cart" class="button" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



